<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SunDevil Connect{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="main-container">
        <div class="header">
            <h1>
                {% if request.session.user_type == 'admin' %}
                    <a href="{% url 'admin_dashboard' %}" style="text-decoration: none; color: inherit;">SunDevil Connect</a>
                {% else %}
                    <a href="{% url 'student_home' %}" style="text-decoration: none; color: inherit;">SunDevil Connect</a>
                {% endif %}
            </h1>

            {% if username %}
            <div class="user-section">
                <span>Hey, {{request.session.first_name}} {{request.session.last_name}}!</span>

                <form method="post" action="{% url 'logout' %}">
                    {%csrf_token%}
                    <button type="submit" class="button button-secondary">Logout</button>
                </form>
            </div>
            {% endif %}
        </div>

        {% block content %}{% endblock %}
    </div>

</body>
</html>
